:root {
  --block_bg: #0B0C10;
  --page_bg: #1F2833;

  --color_back_page: #272727;
  --color_back_block: #14191e;

  --color_txt: #C5C6C7;
  --color_txt2: rgba(255, 255, 255, 0.6);

  --color_title: #66FCF1;
  --color_link: #66FCF1;
  --color_border: #a7a7a7;

  --size_height_header: 50px;
  --size_menu_width: 150px;

  /* --size_height_main: calc(100% - var(--size_height_header) - var(--size_height_footer)); */
  
  --error-color: #df1924;
  --error-bg: #fdd5d5;

  --notify-color: #19df29;
  --notify-bg: #d5fdd5;

  --warning-color: #ff8d12;

  --outcome_bg: #E74C3C;
  --income_bg: #27AE60;

  --btn_bg: #45a29e;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  background: var(--color_title);
  color: var(--block_bg);
  outline: 0;
  border: 0;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
}
