.header {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background: #000;

  &__logo {
    width: 50px;
  }

  &__menu {
    margin-left: auto;
    display: flex;

    &-item {
      margin: 0 5px;
      color: aqua;
    }
  }

  &__login {
    margin-left: 35px;
    color: orange;
  }
}