
/* Roboto Regular Normal - 400 */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.eot');
  src: local('Roboto Regular'), local('Roboto-Regular'),
      url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
      url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
      url('../fonts/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Roboto Regular Italic - 400 */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Italic.eot');
  src: local('Roboto Italic'), local('Roboto-Italic'),
      url('../fonts/Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto/Roboto-Italic.woff2') format('woff2'),
      url('../fonts/Roboto/Roboto-Italic.woff') format('woff'),
      url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype'),
      url('../fonts/Roboto/Roboto-Italic.svg#Roboto-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Roboto Medium Normal - 500 */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Medium.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'),
      url('../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto/Roboto-Medium.woff') format('woff'),
      url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype'),
      url('../fonts/Roboto/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Roboto Medium Italic - 500 */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-MediumItalic.eot');
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
      url('../fonts/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2'),
      url('../fonts/Roboto/Roboto-MediumItalic.woff') format('woff'),
      url('../fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype'),
      url('../fonts/Roboto/Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Roboto Bold Normal - 700 */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Bold.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'),
      url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
      url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
      url('../fonts/Roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Roboto Bold Italic - 700 */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-BoldItalic.eot');
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
      url('../fonts/Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2'),
      url('../fonts/Roboto/Roboto-BoldItalic.woff') format('woff'),
      url('../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype'),
      url('../fonts/Roboto/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* Roboto Black - 900 */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Black.eot');
  src: local('Roboto Black'), local('Roboto-Black'),
      url('../fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto/Roboto-Black.woff2') format('woff2'),
      url('../fonts/Roboto/Roboto-Black.woff') format('woff'),
      url('../fonts/Roboto/Roboto-Black.ttf') format('truetype'),
      url('../fonts/Roboto/Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Roboto Black Italic - 900 */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-BlackItalic.eot');
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
      url('../fonts/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto/Roboto-BlackItalic.woff2') format('woff2'),
      url('../fonts/Roboto/Roboto-BlackItalic.woff') format('woff'),
      url('../fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype'),
      url('../fonts/Roboto/Roboto-BlackItalic.svg#Roboto-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}