@import "fonts";
@import "font-awesome.min";

@import "scss/var";

@import "scss/global";

@import "scss/header";
@import "scss/main";
@import "scss/banner";

@import "scss/achievements";

@import "scss/cards";
@import "scss/card";


@import "scss/skill";
@import "scss/projects";
@import "scss/timeline";



@import "scss/aside";