.adminMenu {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: var(--block_bg);

  &__title {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color_txt);
  }

  &__item { 
    margin-top: 10px;
    font-size: 14px;
    color: var(--color_link);

    &:first-child {
      margin-top: 0;
    }

    &-active  {
      color: var(--warning-color);
    }
  }
}