// .settings {

//   .settingsForm {
//     display: flex;
//     flex-direction: column;

//     &__label {
//       margin-top: 3px;
//       display: flex;
//     }

//     &__labelName {
//       width: 150px;
//     }

//     &__input {
//       border-radius: 5;
//     }

//     &__btn {
//       width: 100px;
//     }
//   }

// }