.aside {
  position: fixed;
  top: 100px;
  right: -1px;
  border-radius: 16px 0 0 16px;
  padding: 10px;
  background: var(--bg-card);
  backdrop-filter: blur(10px);
  border: 1px solid var(--border-card);
  z-index: 99;
  box-shadow: 0px 0px 5px rgba(100, 255, 218, .3);

  &__info {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--accent);
    border-radius: 12px;
    width: 40px;
    height: 40px;
    color: var(--text-secondary);
    font-size: 22px;
    line-height: 1;
    color: var(--accent);
    transition: .3s;
    cursor: pointer;

    &:hover {
      border: 1px solid var(--accent-hover);
      color: var(--accent-hover);
    }
  }

  // .section-title {
  //   line-height: 1.3;
  // }

  // p {
  //   color: var(--text-secondary);
  //   font-size: 18px;
  //   max-width: 600px;
  //   margin: 0 auto;
  //   text-align: center;
  // }
}

// .contact-section {
//   padding: 80px 0;
//   text-align: center;
// }