// /* {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// body {
//   font-family: 'Inter', sans-serif;
//   background: var(--bg-primary);
//   color: var(--text-primary);
//   line-height: 1.6;
//   overflow-x: hidden;
// }

// a {
//   text-decoration: none;
// }

.columns {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &__left {
    width: 63%;
  }
  &__right {
    width: 35%;
  }
}


.section-title {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 60px;
    background: var(--gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}