* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg-primary);
  color: var(--text-primary);
  line-height: 1.6;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.columns {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column-reverse;

  @include respond(sm) {
    flex-direction: row;
  }

  &__left {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;

    @include respond(sm) {
      width: 63%;
    }
  }

  &__right {
    width: 100%;

    @include respond(sm) {
      width: 35%;
    }
  }


}


.section-title {
  font-weight: 800;
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  background: var(--gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  @include respond(sm) {
    font-size: 48px;
    margin-bottom: 60px;
  }
}